body {
    background: linear-gradient(42deg, #3b1d6c, #4195ff);
    background-attachment: fixed;
    color: #fff;
    text-align: center;
    font-size: 15px;
    font-family: Arial;
}

canvas {
    background: #FFF;
    box-shadow: 1px 2px 20px 0px #0f3550; 
}

input {
    padding: 10px;
    background: none;
    color: #ffffff;
    outline: none;
    font-family: courier;
    text-align: center;
    border: none;
    border-bottom: 2px solid;
}

input::placeholder {
    color: #c2cfd5;
}

button {
    padding: 10px;
    background: #57b5d1;
    border: none;
    border-radius: 4px;
    color: white;
    font-weight: bold;
    border-bottom: 4px solid #53839f;
    transition-duration: 0.2s;
}

button:hover {
    background: #74cbe5;
    cursor: pointer;
}

button:disabled {
    background: none;
    border: 1px solid white;
    cursor: auto;
}


.slidecontainer {
    padding:10px;
}

.slider {
    -webkit-appearance: none;
    appearance: none;
    height: 6px;
    background: #1b389f;
    outline: none;
    padding: 0;
    -webkit-transition: .2s;
    transition: opacity .2s;
    border: 0;
    border-radius: 3px;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none; 
    appearance: none;
    width: 30px;
    height: 15px;
    border-radius: 10px;
    background: #4e9bff;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px; 
    height: 25px;
    background: #04AA6D;
    cursor: pointer;
}